<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <title>{% block title %} {{ site_title() }} {% endblock %}</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %} {{ site_description() }} {% endblock %}">

        {% block meta %}
            <meta name="author" content="{{ config('site_author') }}">
            <meta property="og:title" content="{{ site_title() }}">
            <meta property="og:description" content="{{ site_description() }}">
            <meta property="og:site_name" content="{{ site_title() }}">
            <meta property="og:type" content="article">
            <meta property="og:image" content="{{ site_url() }}/img/default_cover_image.png">
            <meta property="og:image:url" content="{{ site_url() }}/img/default_cover_image.png">
            <meta property="og:image:alt" content="{{ site_title() }}">
            <meta property="og:url" content="{{ site_url() }}">

            <meta name="twitter:site" content="{{ site_url() }}">
            <meta name="twitter:title" content="{{ site_title() }}">
            <meta name="twitter:description" content="{{ site_description() }}">
            <meta name="twitter:creator" content="{{ config('site_author') }}">
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:url" content="{{ site_url() }}"/>
            <meta name="twitter:image" content="{{ site_url() }}/img/default_cover_image.png">
            <meta name="twitter:image:alt" content="{{ site_title() }}">
        {% endblock %}

        <link href="{{ site_root() }}css/app.css" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ site_url() }}/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site_url() }}/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site_url() }}/img/favicon-16x16.png">
    </head>

    <body class="bg-gray-50 dark:bg-gray-800">

        {% include '_partials/nav.html.twig' %}
        
        {% block content %}
        {% endblock %}

        {% include '_partials/footer.html.twig' %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script> 
    </body>
</html>
