<div class="px-4 mx-auto max-w-screen-xl">
    <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Destaques</h2>

    <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
        {% for item in config('destaques') %}
            <article class="max-w-xs">
                <a href="/{{ item['rota'] }}/{{ item['slug'] }}">
                    <img src="{{ item['img'] }}" class="mb-5 rounded-lg" alt="Image 1">
                </a>

                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="/{{ item['rota'] }}/{{ item['slug'] }}">{{ item['titulo'] }}</a>
                </h2>

                <p class="mb-4 text-gray-500 dark:text-gray-400">{{ item['desc'] }}</p>
                
                <a href="article.html" class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500">
                    Leia mais...
                </a>
            </article>
        {% endfor %}
    </div>
</div>

{% set tags = [] %}
{% for tag in config('tags_raiz') %}
    {% set temp = {nome: tag }%}
    {% set tags = tags|merge([temp]) %}
{% endfor %}

{% for tag in tags %}
    {% set count = 0 %}
    {% set artigos = [] %}
    {# workaround: não existe comando break no twig #}
    {% set stop_loop = false %}
    {% for artigo in content_list %}
        {{dump(artigo)}}
        {% if artigo.frontMatterHas('tags') %}
            {% if tag['nome'] in artigo.getAsArray('tags') %}
                TEM TAG <br>
                {% set count = count + 1 %}
                {# TODO: pegar de artigo em content_list #}
                {% set temp = {
                        imagem: "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png",
                        url: "#",
                        titulo: "Titulo teste",
                        desc: "desc teste bla bla bla",
                    } 
                %}
                {% set artigos = artigos|merge([temp]) %}
            {% endif %}
        {% endif %}

        {% if count == config('artigos_por_tag_home') %}
            {% set stop_loop = true %}
        {% endif %}
        {% set tags = tags|merge([artigos]) %}
    {% endfor %}
{% endfor %}

{% for tag in tags %}
    <hr class="mt-10 mx-auto max-w-screen-xl">
  
    <div class="px-4 mx-auto max-w-screen-xl pt-10">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Artigos Recentes - #{{ tag['nome'] }}</h2>

        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            {% for artigo in tag['artigos'] %}
                <article class="max-w-xs">
                    <a href="{{ tag['url'] }}">
                        <img src="{{ tag['nome'] }}" class="mb-5 rounded-lg" alt="Image 1">
                    </a>

                    <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                        <a href="{{ tag['url'] }}">{{ tag['titulo'] }}</a>
                    </h2>

                    <p class="mb-4 text-gray-500 dark:text-gray-400">{{ tag['desc'] }}</p>
                    
                    <a href="{{ tag['url'] }}" class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500">
                        Leia mais...
                    </a>
                </article>
            {% endfor %}
        </div>
    </div>
{% endfor %}